{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content">
        <div class="sub-content">
            <b>What are site is about?</b>
            <p>You can buy a list of consoles, games and accessories and find out cool offers and check out what we can do for you. You can purchase products and if you want more from the site you could create an account.</p>
        </div>
        <div class="sub-content">
            <b>What an account can do for you?</b>
            <p>With an account you can be able to review purchases for rewards, be given offers and obtain R-Tokens which can be used to give you discounts on other purchases. You can also apply to sell your porducts and be give credit for them on your account or cash. We can also be able to understand what you like and show you cool and interesting products based on that. Also you can rate a product and also be able to save a product for a later purchase.</p>
        </div>
        <div class="sub-content">
            <b>What's new?</b>
            <p>IMAGE</p>
        </div>
        <div class="sub-content">
            <b>Great deals that you can buy?</b>
            <p>IMAGE</p>
        </div>
    </div>
{% endblock %}