{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content">
        <div class="sub-content">
            <h2 class="center-text logo"><b>WELCOME</b></h2>
            <p class="center-text">Welcome to the Retro Exchange website where you can purchase and sell games and consoles. This site will be able to allow users to search the website easily using either a filter search system or the search bar. If you know what your looking for then feel free to search for it, else just press the button below or filter to try and have a quick shop around.</p>
        </div>
        <div class="center-block">
            <div class="sub-content">
                <b>Should I create an account?</b>
                <p>Doesn't matter if you are with or without an account you can still purchase games and consoles, whilst if youd like to sell a product you need to use a form that is on the webpage that will allow for us to send you out a package or bring it into a store. Accounts allow you to keep track of purchases and see your history whilst using an account can reward you with R-Tokens which can be used to discount a purchase or recieve interesting discounts.</p>
            </div>
            <div class="sub-content">
                <b>What we sell and buy?</b>
                <p>We can purchase or sell any games, consoles and accessories that we have in stock. We have a selection of retro consoles you can check out and find. You can have a look for a product or apply to sell your products. We can do any consoles that are old and sometimes unwanted. We can find them a new home and give them to someone who would put them to new use. Whether you collect games or just have something hanging around you can check by our store and we can help you out.</p>
            </div>
        </div>
        <div class="start-shopping">
            <a href="products"><button class="no-default black-white">Start Shopping</button></a>
        </div>
    </div>
{% endblock %}