{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content">
        <div class="sub-content">
            <h2 class="center-text logo"><b>BASKET</b></h2>
            <p class="center-text">These are the items that you have added to your basket.</p>
            <hr>
        </div>
        <div class="center-text">
            {% if basket_contents %}
                {% for item_id in basket_contents %}
                        <div class="product-container">
                            <img src="/media/{{ item_id.product.image }}">
                            <p class="name">{{ item_id.product.name }}</p>
                            <p class="price">Price: £ {{ item_id.product.price }}</p>
                            <p class="price">Quantity: {{ item_id.quantity }}</p>
                            <p class="price">Shipping Fee: £{{ item_id.shipping }}</p>
                            <p class="price">Total Cost: £{{ item_id.total_cost }}</p>
                            <form method="GET" action="">
                                <button name="remove" value="{{ item_id.product.pk }}" type="submit" class="white-black">Remove</button>
                            </form>
                        </div>
                    {% endfor %}
            {% else %}
                <p>Sorry you have no items within your basket, use the link below to look for an item on the site to buy.</p>
            {% endif %}
        </div>
        <div class="center-text">
            <div class="side-content">
                <a href="{% url 'home' %}">
                    <button class="white-black themed-button">Keep Shopping</button>
                </a>
            </div>
            <div class="side-content">
                {% if basket_contents %}
                    <button class="black-white themed-button">Checkout</button>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
{% endblock %}