<div class="nav-bar">
    <form class="filter-form" method="GET" action="">
        <input placeholder="What console to search for?" class="no-default filter" name="c" list="console"/>
        <datalist id="console">
            <option value="No Specific Console"/>
            <option value="Nintendo 64"/>
            <option value="Gamecube"/>
            <option value="NES"/>
            <option value="SNES"/>
            <option value="Xbox"/>
            <option value="Xbox 360"/>
            <option value="PlayStation"/>
            <option value="PlayStation 2"/>
            <option value="PlayStation 3"/>
            <option value="Sega Mega Drive"/>
            <option value="Sega Master System"/>
        </datalist>
        <input placeholder="What to search for?" class="no-default filter" name="q" list="search-for"/>
        <datalist id="search-for">
            <option value="Consoles"/>
            <option value="Games"/>
            <option value="Accessories"/>
            <option value="Bundles"/>
            <option value="All"/>
        </datalist>
        <input placeholder="What filter to apply?" class="no-default filter" name="f" list="filter"/>
        <datalist id="filter">
            <option value="Ascending Price"/>
            <option value="Decending Price"/>
            <option value="Rating"/>
            <option value="Popularity"/>
            <option value="Alphabetical"/>
        </datalist>
        <button class="no-default filter-button" type="submit">
            Submit
        </button>
    </form>
</div>