<div class="nav-bar">
    <form class="filter-form" method="GET" action="{% url 'products' %}">
        <div class="search-container">
            <input class="search-bar no-default" type="text" name="search" placeholder="Search for a product"/>
            <button class="search-button no-default" type="submit">
                <span>Search</span>
            </button>
        </div>
        <input placeholder="What console to search for?" class="no-default filter" name="c" list="console"/>
        <datalist id="console">
            <option value="No Specific Console"/>
            <option value="Nintendo 64"/>
            <option value="NES"/>
            <option value="SNES"/>
        </datalist>
        <input placeholder="What to search for?" class="no-default filter" name="q" list="search-for"/>
        <datalist id="search-for">
            <option value="Consoles"/>
            <option value="Games"/>
            <option value="Accessories"/>
            <option value="Bundles"/>
            <option value="All"/>
        </datalist>
        <input placeholder="What filter to apply?" class="no-default filter" name="f" list="filter"/>
        <datalist id="filter">
            <option value="A-Z"/>
            <option value="Z-A"/>
            <option value="Ascending Price"/>
            <option value="Decending Price"/>
            <option value="Rating"/>
        </datalist>
        <button class="no-default filter-button" type="submit">
            Submit
        </button>
    </form>
</div>