{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content">
        <div class="sub-content">
            <h2 class="center-text logo"><b>EDIT PRODUCT</b></h2>
            <p class="center-text">Here you can add a product to the database.</p>
            <hr>
        </div>
            <div class="div-circle-con">
                <div class="center-text">
                    <form class="center-text" action="{% url 'edit_product' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form %}
                            <p class="center-text">Add details below about the new product you'd like tod add.</p>
                            {% csrf_token %}
                            {{ form }}
                            <button id="submit" type="submit" class="black-white themed-button">Update Product</button>
                        {% else %}
                            <p class="center-text">Select a product you would like to edit</p>
                            <input placeholder="What product would you like to edit?" class="no-default center-text" name="select" list="products"/>
                            <datalist id="products">
                                {% for item in products %}
                                    <option value="{{ item.name }}">
                                {% endfor %}
                            </datalist>
                            <button id="submit" type="submit" class="white-black themed-button">Find Product</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        <br>
        <hr>
        <br>
    </div>
{% endblock %}
