{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content">
        <div class="sub-content">
            <h2 class="center-text logo"><b>FIND A PRODUCT</b></h2>
            <p class="center-text">Here you can add a product to the database.</p>
            <hr>
        </div>
            <div class="div-circle-con">
                <div class="center-text">
                    <form class="center-text" method="GET" enctype="multipart/form-data">
                        <p class="center-text">Select a product you would like to edit</p>
                        <input placeholder="What product would you like to edit?" class="no-default center-text" name="select" list="products"/>
                        <datalist id="products">
                            <option value="New Product"></option>
                            {% for item in products %}
                                <option value="{{ item.name }}"></option>
                            {% endfor %}
                        </datalist>
                        <button id="submit" type="submit" class="white-black themed-button">Find Product</button>
                    </form>
                </div>
            </div>
        <br>
        <hr>
        <br>
    </div>
{% endblock %}
