{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content">
        <hr>
        <p class="name center-text logo"><b>{{ products.name }}</b></p>
        <div class="side-content">
            <div class="product center-text">
                <img src="/media/{{ products.image }}">
            </div>
        </div>
        <div class="side-content">
            <div class="product">
                <p class="detail">{{ products.description }}</p>
                <div class="price-container">
                    <p class="price center-text">£ {{ products.price }}</p>
                    <form method="GET" action="">
                        <button name="add" value="{{ products.pk }}" type="submit" class="black-white">Add to Basket</button>
                        <button name="remove" value="{{ products.pk }}" type="submit" class="white-black">Remove</button>
                    </form>
                    <p class="center-text">{{ add_msg }}</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}