{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content">
        <div class="sub-content">
            <h2 class="center-text logo"><b>ALL PRODUCTS</b></h2>
            <p class="center-text">These are all the products that are listed below. You can search or filter the searches to try and narrow down your searchs for the products that you want to see.</p>
            <hr>
            <div class="outer-pro-container">
                {% for product in products %}
                    <div class="product-container">
                        <a href="{{ product.pk }}">
                            <img src="/media/{{ product.image }}">
                            <p class="name">{{ product.name }}</p>
                            <p class="price">£ {{ product.price }}</p>
                            <button class="black-white">Add to Basket</button>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
    </div>
{% endblock %}