{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="main-content m-b-20">
        <hr>
        <div class="side-content">
            <div class="product center-text">
                <img src="/media/{{ products.image }}">
            </div>
        </div>
        <div class="side-content">
            <div class="product">
                <h2 class="center-text logo"><b>{{product.name}}</b></h2>
                <p class="name center-text">{{ products.name }}</p>
                <p class="detail">{{ products.description }}</p>
                <div class="price-container">
                    <p class="price center-text">£ {{ products.price }}</p>
                    <button class="black-white">Add to Basket</button>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}